<h3>Training Prices</h3>
<div class="price">
    <a href="/contact?subject={{title}} Training Class Quote">Contact Us</a> for an onsite or online class quote!
    {{!--
        <br /><br />
        <span style="font-weight: 600;">
            {{#is trainingDetails.length "2"}}
                2-day Class: $9,500
            {{/is}}
            
            {{#is trainingDetails.length "3"}}
                3-day Class: $12,500
            {{/is}}
            
            {{#is trainingDetails.length "4"}}
            4-day Class: $16,500
            {{/is}}
            
            {{#is trainingDetails.length "5"}}
                5-day Class: $19,500
            {{/is}}
        </span>
        for up to 18 students (plus travel costs for onsite classes)
        <br /><br />
    --}}
</div>
<br />