{{#if urls.sampleVideoUrl}}
    <br/>
    <div class="video-container embed-responsive embed-responsive-16by9">
        <iframe id="videoPlayerDemo"
                data-productId="{{id}}"
                src="{{urls.sampleVideoUrl}}?color=547DFD"
                class="embed-responsive-item"
                frameborder="0"
                webkitallowfullscreen mozallowfullscreen
                allowfullscreen></iframe>
    </div>
    <br />
{{/if}}
