{{!-- Hidden field that a bot might submit so that we can reject the input --}}
<div class="bdetect">
	<label for="bfield">Enter your information:</label>
	<input type="text" name="bfield" id="bfield" />
</div>